@model IEnumerable<BankCusManagement.Models.tbl_role_menu>

@{
    Layout = "~/Views/ShatedFolder/View.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .bg-container {
            background-image: url("https://image.shutterstock.com/image-photo/businessman-holding-word-banking-hand-600w-1150180799.jpg");
        }
        h3 {
            color: white;
            text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
        }
    </style>
   
</head>
<body class="bg-container">

    <h3 style="text-align:center">HELLO @Session["UserName"].ToString().ToUpper() WELCOME TO <span style="color:deeppink!important">AXIS BANK</span></h3>
    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Menu_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Menu_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role_Id)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role_Id)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

        </table>*@
</body>
</html>
